SearchService/node_modules
SearchService/.env
SearchService/src/config/config.json
SearchService/.DS_Store

AuthService/node_modules
AuthService/.env
AuthService/src/config/config.json
AuthService/src/.DS_Store
